body {
    background: #eee;
    color: #111;
    font: 12pt sans-serif;
    margin-left: 15%;
    margin-right: 15%;
}

table {
    border-collapse: collapse;
}

table td {
    border: 1px solid #444;
    padding: 1em;
}
